In [1]:
import anvil.server
import anvil.mpl_util
anvil.server.connect("365ETCRLV4W7EOTU7G4H3XWB-TIQDV4JV6KKM7YQO")

Connecting to wss://anvil.works/uplink
Anvil websocket open
Connected to "Default environment" as SERVER

In [2]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine, select
import pymysql
import mysql.connector
import sqlalchemy as sqla
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
user = 'project'
passw = 'Project551'
host =  '127.0.0.1'
port = 3306
database = 'project'

conn = pymysql.connect(host=host,
                       port=port,
                       user=user, 
                       passwd=passw,  
                       db=database,
                       charset='utf8')
mycursor = conn.cursor()
engine = sqla.create_engine('mysql+pymysql://project:Project551@localhost:3306/project')

In [4]:
mycursor.execute("create database if not exists project")
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('project',)
('sakila',)
('sys',)
('world',)

In [5]:
mycursor.execute("use project")

0

In [6]:
mycursor.execute("create table if not exists main(fileid int primary key  not null auto_increment,filename varchar(30) unique, parent varchar(30), type varchar(10))")
mycursor.execute("create table if not exists metadata(filename varchar(30) unique,locations varchar(100),noparts int);")

0

In [7]:
mycursor.execute("show tables")
for x in mycursor:
  print(x)

('citytemp1',)
('citytemp2',)
('citytemp3',)
('citytemp4',)
('main',)
('metadata',)
('ozone1',)
('ozone2',)
('ozone3',)
('salaries1',)
('salaries2',)
('salaries3',)
('salaries4',)
('seas1',)
('seas2',)
('seas3',)

In [8]:
mycursor.execute("select * from main")
for x in mycursor:
    print(x)

(1, 'desktop', 'root', 'dir')
(2, 'documents', 'root', 'dir')
(3, 'applications', 'root', 'dir')
(4, 'files', 'root', 'dir')
(5, 'weather', 'files', 'dir')
(6, 'Ozone', 'weather', 'file')
(8, 'CityTemp', 'weather', 'file')
(9, 'Seas', 'weather', 'file')
(10, 'recents', 'documents', 'dir')
(11, 'info', 'recents', 'dir')
(17, 'test', 'root', 'dir')
(18, 'Salaries', 'weather', 'file')

In [9]:
mycursor.execute("select * from metadata")
for x in mycursor:
    print(x)

('Ozone', 'Ozone1,Ozone2,Ozone3', 3)
('CityTemp', 'CityTemp1,CityTemp2,CityTemp3,CityTemp4', 4)
('Seas', 'Seas1,Seas2,Seas3', 3)
('Salaries', 'Salaries1,Salaries2,Salaries3,Salaries4', 4)

# mkdir

In [10]:
def mkdir(name):
    mycursor.execute("insert into main (filename, parent, type) values (\""+ name +"\", \""+location[-1]+"\",'dir')")
    conn.commit()

## LS

In [11]:
def ls(location):
    mycursor.execute("select filename from main where \""+ location[-1] +"\" = parent order by filename asc")
    str=""
    for x in mycursor:
        str=str + x[0] + " "
    print(str)
    return str

# cd

In [12]:
def cd(location,file_name):
    exists = 0
    if file_name == "..": 
        location.pop()
        if len(location)==0:
            location.append("root")
            exists = 1
            
        else:
            for i in location:
                print(i,end="/")
    else:
        
        mycursor.execute("select filename from main where \""+ location[-1] +"\" = parent")
        for x in mycursor:
            if file_name == x[0]:
                #location.pop()
                location.append(file_name)
                exists = 1
                #print(location)
        if exists == 0:
            print('Location does not exist')

# RM

In [13]:
def rm(file_name,location):  
        x = mycursor.execute("select type from main where filename = \""+ file_name +"\"")
        for x in mycursor:
            if (x[0]) == "file":
                tabnames = getPartitions(file_name)
                mycursor.execute("delete from metadata where filename =\""+ file_name +"\"")
                
                locats = list(tabnames.split(","))
                for i in locats:
                    mycursor.execute("drop table "+i)
                
        mycursor.execute("delete from main where filename =\""+ file_name +"\" and parent = \""+ location[-1] +"\"")
        mycursor.execute("delete from main where parent = \""+ file_name +"\"")
        mycursor.execute("select type from main where filename = \""+ file_name +"\"")
        conn.commit()
        return("File deleted!")

# CAT

In [14]:
def cat(filename,location):
    newdf = []
    locats = getPartitions(filename)
    locats = list(locats.split(","))
    #print(locats)
    for i in range (1,len(locats)+1):
        df = readPartitions(filename,i)
        newdf.append(df)
    maindf = pd.concat(newdf, ignore_index=True)
    return maindf

# PUT

In [15]:
def put(file,location,k):
    partnames = []
    df = pd.read_csv(file)
    files = file.split(".")
    file = files[0]
    count_row = df.shape[0]
    k = int(k)
    sliceval = round(count_row/k)
    partitions_df=[]
    z=0
    for i in range (0,k):
        partitions_df.append(df[z:z+sliceval])
        z=z+sliceval
        
    for i in range(0,len(partitions_df)):
        data=partitions_df[i]
        tabname = str(file+str(i+1))
        data.to_sql(name=tabname, con=engine, if_exists = 'replace', index=False)
        partnames.append(tabname)
    partnames = ','.join(partnames)  
    k = str(k) 
    mycursor.execute("replace into metadata values (\""+ file +"\",\""+ partnames +"\",\""+ k +"\")")
    mycursor.execute("replace into main (filename, parent, type) values (\""+ file +"\",\""+ location[-1] +"\",'file')")
    conn.commit()

# getPartitions

In [16]:
def getPartitions(filename):
    df = pd.read_sql("select locations from metadata where filename =\""+ filename +"\"",conn)
    parts = df["locations"][0]
    print(type(parts))
    return(parts)

# readPartitions

In [17]:
def readPartitions(filename,kth):
    kth = int(kth)
    locats = getPartitions(filename)
    locats = list(locats.split(","))
    if len(locats)>=kth and kth !=0:
        stringer = locats[kth-1]
        df = pd.read_sql("select * from "+ stringer,conn)
        return df
    else:
        print("No such partition")

# Analytics - Average Temperature

In [18]:
def CityTemp(city, glt):
    citytemps = glt[glt['City'] == city]['AverageTemperature'].dropna()
    return np.average(citytemps)

def avgtemp(city):
    parts = getPartitions("citytemp")
    ran = len(parts)
    result = []
    for i in range(1, len(parts.split(','))+1):
        glt = readPartitions("citytemp", i)
        if city in glt['City'].tolist():
            result.append(CityTemp(city, glt))
    return('Average temperature of the city is '+str(round(np.mean(result),2))+' Celsius')

# Analytics - City Graph

In [19]:
def citygraph(location,city, start_year, end_year):
    parts = getPartitions("CityTemp")
    ran = len(parts)
    index=0
    for i in range(1, len(parts.split(','))+1):
        glt = readPartitions("CityTemp" , i)
        glt = glt.reset_index().drop('index', axis = 1)
        for j in range (0, len(glt)):
            if glt['City'][j] == city:
                if glt['Years'][j] == start_year:
                    si = index
                if glt['Years'][j] == end_year:
                    ei = index
            index=index+1
    df = cat("CityTemp",location)
    sns.set(rc={'figure.figsize':(40,20)})
    sns.set(font_scale=5)
    ax = sns.lineplot(data= df["AverageTemperature"][si:ei])
    ax.set_xticks([])
    ax.set(xlabel=str(start_year) + '-' + str(end_year),
            ylabel='Temperature in Celcius',
            title='Yearwise City Temperature from ' + str(start_year) + '-' + str(end_year))
    return anvil.mpl_util.plot_image()

# Analytics - Ozone

In [20]:
def ozograph(location, start_year, end_year):
    parts = getPartitions("Ozone")
    ran = len(parts)
    start_year = int(start_year)
    end_year = int(end_year)
    index = 0
    for i in range(1, len(parts.split(','))+1):
        #
        ozo = readPartitions("Ozone" , i)
        for i in range (0, len(ozo)):
            if start_year == ozo['Year'][i]:
                si = index
            if end_year == ozo['Year'][i]:
                ei = index
            index = index + 1
    temu = cat("Ozone",location).dropna()
    sns.set(rc={'figure.figsize':(40,20)})
    sns.set(font_scale=5)
    ax = sns.lineplot(data= temu.iloc[si:ei],x="Year", y="Hole Area")
    ax.set_xticks([])
    ax.set(xlabel=str(start_year) + '-' + str(end_year),
            ylabel='Hole Area',
            title='Yearwise Ozone Hole size from ' + str(start_year) + '-' + str(end_year))
    return anvil.mpl_util.plot_image()

# Analytics - Sea Levels

In [21]:
def maxyearsea(location,start_year, end_year):
    parts = getPartitions("Seas")
    ran = len(parts)
    temps = []
    index = 0
    for i in range(1, len(parts.split(','))+1):
        sea = readPartitions("Seas", i).reset_index()
        for s in range (0, len(sea)):
            if int(start_year) == int(sea['year'][s]):
                si = index
            if int(end_year) == int(sea['year'][s]):
                ei = index
            index = index+1
    temu = cat("Seas",location)
    sns.set(rc={'figure.figsize':(40,20)})
    sns.set(font_scale=5)
    ax=sns.lineplot(x = temu['year'][si:ei] , y = temu['total'][si:ei],color='darkblue')
    ax.set(ylabel='Sea Level',
            title='Yearwise Sea Levels ' + str(start_year) + '-' + str(end_year))
    return anvil.mpl_util.plot_image()

# Search - Country Temp

In [22]:
def mapsearchTemp(country, temp):
    return(temp[temp['Country'] == country])

def reduceTemp(country):
    parts = getPartitions("CityTemp")
    outputs = []
    for i in range (1, len(parts.split(','))+1):
        temp = readPartitions("CityTemp" , i).drop('Unnamed: 0', axis = 1)
        outputs.append(mapsearchTemp(country, temp))
    return parts,temp,outputs[-1],pd.concat(outputs).dropna()

# Search - Sea

In [23]:
def mapsearchSea(start_year, end_year, sea):
    return(pd.merge(sea[sea['year'] <= end_year], sea[sea['year'] >= start_year], how ='inner', on =['year', 'total']))

def reduceSea(start_year, end_year):
    parts = getPartitions("Seas")
    outputs = []
    for i in range (1, len(parts.split(','))+1):
        sea = readPartitions("Seas", i).drop('Unnamed: 0', axis = 1)
        outputs.append(mapsearchSea(start_year, end_year,sea))
    return parts,sea,outputs[-1],pd.concat(outputs)

# Search - Ozone

In [24]:
def mapsearchOzone(limit, ozo):
    parts = getPartitions("Ozone")
    ran = len(parts)
    return ozo[ozo['Hole Area'] >= int(limit)]

def reduceOzone(limit):
    parts = getPartitions("Ozone")
    outputs = []
    for i in range (1, len(parts.split(','))+1):
        ozo = readPartitions("Ozone" , i)
        outputs.append(mapsearchOzone(limit, ozo))
    r1=parts
    r2=ozo
    r3=outputs[-1]
    r4=pd.concat(outputs)
    return r1,r2,r3,r4

# MAIN

In [25]:
def main():
    global location
    location = []
    location.append("root")
if __name__=="__main__":
     main()

In [26]:
@anvil.server.callable
def maincode1(command):
    command = command.split()
    main_command = command[0]
    if main_command == "mkdir":               #MKDIR
        try:
            filename = command[1]
            mkdir(str(filename))
            return("Directory created!")
        except:
            return("Some error occurred!")     
    elif main_command == "ls":                  #LS
        try:
            #filename = command[1]
            t2=ls(location)
            return t2
        except:
            return("Some error occurred!")
    elif main_command == "rm":                  #RM
        try:
            filename = command[1]
            t4 = rm(str(filename),location)
            return t4
        except:
            return("Some error occurred!")  
    elif main_command == "cd":                  #CD
        try:
            directoryname = command[1]
            cd(location,str(directoryname))
        except:
            return("Some error occurred!")
    elif main_command=="cat":                   #CAT
        try:
            filename = command[1]
            t5=cat(str(filename),location)
            t9=t5.to_markdown()
            return t9
        except:
            return("Some error occurred!")
    elif main_command=="put":                   #PUT
        try:
            filename = command[1]
            partitions = command [2]
            put(str(filename),location,partitions)
            return ("Success!")
        except:
            return("Some error occurred!")
    elif main_command=="getP":                   #getPartitions
        try:
            filename = command[1]
            df = getPartitions(str(filename))
            return(df)
        except:
            return("Some error occurred!")
    elif main_command=="readP":                   #readPartitions
        try:
            filename = command[1]
            partition = command [2]
            df = readPartitions(str(filename),partition)
            return(df.to_markdown())
        except:
            return("Some error occurred!")
    elif main_command=="AvgTemp":                   #Avgtemp
        try:
            city = command[1]
            res = avgtemp(location,str(city))
            return(res)
        except:
            return("Some error occurred!")
    elif main_command=="CityGraph":                   #City Graph
        try:
            city = command[1]
            sy = command[2]
            ey = command[3]
            res = citygraph(location,str(city),int(sy),int(ey))
            return(res)
        except:
            return("Error!")
    elif main_command=="OzoneGraph":                   #Ozone Graph
        try:
            sy = command[1]
            ey = command[2]
            res = ozograph(location,int(sy),int(ey))
            return(res)
        except:
            return("Error!")
    elif main_command=="SeaLevel":                   #Sea Level
        try:
            sy = command[1]
            ey = command[2]
            res = maxyearsea(location,int(sy),int(ey))
            return(res)
        except:
            return("Error!")
    elif main_command=="SearchOzone":                   #Search Ozone
        try:
            limit = command[1]
            r1,r2,r3,r4 = reduceOzone(str(limit))
            r4.reset_index(drop=True, inplace=True)
            return(r1,r2.to_markdown(),r3.to_markdown(),r4.to_markdown())
        except:
            return("Error!")
    elif main_command=="SearchSea":                   #Search Sea
        try:
            sy = command[1]
            ey = command[2]
            r1,r2,r3,r4 = reduceSea(int(sy),int(ey))
            r4.reset_index(drop=True, inplace=True)
            return(r1,r2.to_markdown(),r3.to_markdown(),r4.to_markdown())
        except:
            return("Error!")
    elif main_command=="SearchCountryTemp":          #Search Country Temp
        try:
            country = command[1]
            r1,r2,r3,r4 = reduceTemp(str(country))
            r4.reset_index(drop=True, inplace=True)
            return(r1,r2.to_markdown(),r3.to_markdown(),r4.to_markdown())
        except:
            return("Error!")
    else:
        return("Command not found!!!!")
    

@anvil.server.callable
def currLocation1():
    mystr='/'.join(location)
    return mystr

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
applications desktop documents files test
CityTemp Ozone Salaries Seas
root/files/weather
weather
CityTemp Ozone Salaries Seas
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
CityTemp Ozone Salaries Seas
CityTemp Ozone Salaries Seas
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>